<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.lovo.dao.UserRoleDao">


  <insert id="addRoleByUserid" parameterType="int"  >
  insert into t_userrole values(null,#{param1},#{param2})
  </insert>
  
  <delete id="delRoleByUserid" parameterType="int" >
    delete  from t_userrole where userid = 1 and roleid = 2
 </delete>
  
<!--   <select id="getListUser" resultType="powerEntity" >
    select p.* from t_user u,t_userrole ur,t_role r,t_rolepower rp ,t_power  p 
    WHERE u.id=ur.userid AND ur.roleid=r.roleId and r.roleId=rp.roleid 
    AND rp.powerid=p.powerId AND u.id=1
  </select> -->
  

  
</mapper>