<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:websocket="http://www.springframework.org/schema/websocket"

	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd 
        http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/websocket
        http://www.springframework.org/schema/websocket/spring-websocket.xsd">

	<!-- 启用spring mvc 注解 -->
	<context:annotation-config />

	<!-- 设置使用注解的类所在的jar包 -->
	<context:component-scan
		base-package="com.lovo.resourcesystem.controller"></context:component-scan>

	<!-- 完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/z/"   p:suffix=".jsp" />

	<!-- 视图的配置 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/z/" p:suffix=".jsp"></bean>
	<!-- mvc:annotation-driven使用注解功能 -->
	<mvc:annotation-driven>
		<mvc:message-converters
			register-defaults="true">
			<!--json处理,spring管理第三方的json转换，由spring来调用第三方组件把对象转换为json -->
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
						<value>text/html;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="10485760000"></property>
		<property name="maxInMemorySize" value="40960"></property>
	</bean>

	<!--配置拦截器 -->
	<!-- <mvc:interceptors>
		<bean class="com.ma.interceptor.CustomeInterceptor" />
		拦截器1
		<mvc:interceptor>
			配置拦截器的作用路径
			<mvc:mapping path="/showSomething.action" />
			<mvc:mapping path="/showById.action" />
			定义在mvc:interceptor下面的表示匹配指定路径的请求才进行拦截
			<bean class="com.homework.controller.FilterTest"></bean>
		</mvc:interceptor>
		拦截器2
		<mvc:interceptor> <mvc:mapping path="/**" /> <bean class="com.homework.controller.FilterTest2" 
			/> </mvc:interceptor>
	</mvc:interceptors> -->
	
	

</beans>